body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:1260px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:1260px;
}
#u2 {
  position:absolute;
  left:2px;
  top:622px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:120px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:120px;
}
#u4 {
  position:absolute;
  left:2px;
  top:52px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:32px;
  top:10px;
  width:200px;
  height:100px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1080px;
  top:52px;
  width:110px;
  height:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1190px;
  top:52px;
  width:110px;
  height:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:310px;
  top:200px;
  width:1080px;
  height:1040px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1040px;
}
#u12 {
  position:absolute;
  left:2px;
  top:512px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:310px;
  top:130px;
  width:1080px;
  height:60px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:1076px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1320px;
  top:25px;
  width:70px;
  height:70px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:130px;
  width:300px;
  height:1130px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1130px;
}
#u18 {
  position:absolute;
  left:2px;
  top:557px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:32px;
  top:188px;
  width:180px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:32px;
  top:230px;
  width:235px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:32px;
  top:274px;
  width:105px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:32px;
  top:148px;
  width:67px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:365px;
  top:840px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:365px;
  top:743px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:365px;
  top:643px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:365px;
  top:543px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:365px;
  top:443px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:365px;
  top:343px;
  width:970px;
  height:100px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:34px;
  width:966px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:450px;
  top:220px;
  width:70px;
  height:70px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u42 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:531px;
  top:250px;
  width:90px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u44 {
  position:absolute;
  left:632px;
  top:220px;
  width:70px;
  height:70px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:714px;
  top:250px;
  width:90px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u47 {
  position:absolute;
  left:815px;
  top:220px;
  width:70px;
  height:70px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:896px;
  top:250px;
  width:90px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u50 {
  position:absolute;
  left:998px;
  top:220px;
  width:70px;
  height:70px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1079px;
  top:250px;
  width:90px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1180px;
  top:220px;
  width:70px;
  height:70px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u54 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
