body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:120px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:120px;
}
#u4 {
  position:absolute;
  left:2px;
  top:52px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:110px;
  top:10px;
  width:200px;
  height:100px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:780px;
  top:52px;
  width:110px;
  height:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:890px;
  top:52px;
  width:110px;
  height:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1030px;
  top:31px;
  width:160px;
  height:58px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
}
#u12 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:222px;
  width:1160px;
  height:648px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:648px;
}
#u14 {
  position:absolute;
  left:2px;
  top:316px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:140px;
  width:1160px;
  height:60px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:1156px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:195px;
  top:290px;
  width:820px;
  height:460px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:460px;
}
#u18 {
  position:absolute;
  left:2px;
  top:222px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:237px;
  top:310px;
  width:368px;
  height:50px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:237px;
  top:350px;
  width:368px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:351px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:368px;
  height:1px;
}
#u21 {
  position:absolute;
  left:805px;
  top:650px;
  width:190px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:237px;
  top:650px;
  width:188px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:627px;
  top:310px;
  width:368px;
  height:50px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:627px;
  top:350px;
  width:368px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:351px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:368px;
  height:1px;
}
#u27 {
  position:absolute;
  left:237px;
  top:380px;
  width:758px;
  height:220px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:220px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:237px;
  top:595px;
  width:758px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:741px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:758px;
  height:1px;
}
